name: Test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  context:
    runs-on: ubuntu-latest
    steps:
      - name: Context
        run: |
          echo GITHUB_ACTOR = "$GITHUB_ACTOR"
          echo ACTOR = "$ACTOR"
          echo TRIGGERING_ACTOR = "$TRIGGERING_ACTOR"
        env:
          ACTOR: ${{github.actor}}
          TRIGGERING_ACTOR: ${{github.triggering_actor}}

  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          npm install
      - run: |
          npm run all

  # The following job will pass and output true in the last step.
  testFailSilentyTrue:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Is eligible Actor?
        id: eligibleActor
        uses: ./
        env:
          ACTIONS_STEP_DEBUG: true
        with:
          rulesFile: 'eligible-actors-rules.json' # = default value
          ruleId: 1

      - name: Log Result
        env:
          # If you have chosen to not fail (`failSilently = true`) use the
          # output of the workflow to decide what to do next when the actor is
          # or is not eligible for what the actor wanted to do.
          IS_ELIGIBLE_ACTOR: ${{steps.eligibleActor.outputs.isEligibleActor}}
        run: |
          echo "action-eligible-actor outputs:"
          echo "$IS_ELIGIBLE_ACTOR"

      - name: Exit If False
        # this condition is false, which means the step will pass
        if: ${{ steps.eligibleActor.outputs.isEligibleActor == 'false' }}
        run: exit 1

      - name: Log if True
        # this condition is false, which means the step will pass
        if: ${{ steps.eligibleActor.outputs.isEligibleActor == 'true' }}
        run: echo "It works!"

  # The following job will fail but still output "Failure" and "Always" as the
  # steps run on failure (see `if: failure()` condition) and always.
  # NOTE: uncomment to see it in action
  # testFailSilentyFalse:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2

  #     - name: Is eligible Actor?
  #       id: eligibleActor
  #       uses: ./
  #       with:
  #         rulesFile: 'eligible-actors-rules.json'
  #         ruleId: 2 # with failSilenty = false

  #     - name: Test
  #       # runs when the workflow step failed (exitcode = 1)
  #       if: failure()
  #       env:
  #         IS_ELIGIBLE_ACTOR: ${{steps.eligibleActor.outputs.isEligibleActor}}
  #       run: |
  #         echo "action-eligible-actor outputs:"
  #         echo "$IS_ELIGIBLE_ACTOR"

  #     - name: Test-Success
  #       # will not log, because the step did not succeed
  #       if: success()
  #       run: |
  #         echo "Sucess Case"

  #     - name: Test-Failure
  #       if: failure()
  #       run: |
  #         echo "Failure"

  #     - name: Test-Always
  #       if: always()
  #       run: |
  #         echo "Always"
